@import url('https://fonts.googleapis.com/css?family=Akronim|Arvo|Dosis|Gugi|Just+Another+Hand|Montserrat|Nunito|Nunito+Sans|Roboto+Condensed|Roboto+Mono|Slabo+27px|Source+Sans+Pro');

html,body{
    height:100%;
    width:100%;
    color:#444;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}
